<div class="card">
  <div class="card-header">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5>{{ customer?.customer?.name }}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      {{ customer?.customer?.fatherName }}
      <br />{{ customer?.customer?.cnic }}
      <br />{{ customer?.customer?.mobile1 }}
      <br />{{ customer?.customer?.mobile2 }}
    </div>
    <div class="row">
      <label> <strong>Address</strong></label>
      {{ customer?.customer?.address.floor }}
      {{ customer?.customer?.address.number }}
      {{ customer?.customer?.address.street }}
      {{ customer?.customer?.address.sector }}
      {{ customer?.customer?.address.city }}
      {{ customer?.customer?.address.province }}
      {{ customer?.customer?.address.zipcode }}
    </div>

    <div class="row">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        Guarantor
      </button>
    </div>

    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      {{ customer?.guarantor.gname }}
      {{ customer?.guarantor?.gfather }}
      {{ customer?.guarantor?.gcnic }}
      {{ customer?.guarantor?.gmobile1 }}
      {{ customer?.guarantor?.gmobile2 }}

      {{ customer?.guarantor?.province }}
      {{ customer?.guarantor?.city }}
      {{ customer?.guarantor?.floor }}
      {{ customer?.guarantor?.street }}
      {{ customer?.guarantor?.gaddress }}
    </div>
  </div>
</div>
