<form>
  <div class="container">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="aligncontract">Contract</h3>

    <div class="row">
      <div class="col-6 col-md-4">
        <label for="status">Sale Type</label>
        <select
          [(ngModel)]="contract.saleType"
          type="text"
          name="saleType"
          id="saleType"
          class="form-control"
        >
          <option value="1" selected="1">Counter</option>
          <option value="2">Rented</option>
          <option value="3">Installment</option>
        </select>
      </div>

      <div class="col-6 col-md-4">
        <label for="Select Customer">Select Customer</label>
        <select
          [(ngModel)]="contract.customer"
          type="text"
          name="customer"
          id="customer"
          class="form-control"
          placeholder=""
        >
          <option
            value="{{ customer?._id }}"
            *ngFor="let customer of customerlist"
            >{{ customer?.customer?.name }}</option
          >
        </select>
      </div>

      <div class="col-6 col-md-4">
        <label for="Select Asset">Select Asset</label>
        <select
          [(ngModel)]="contract.asset"
          type="text"
          name="asset"
          id="asset"
          class="form-control"
          placeholder=""
        >
          <option value="{{ asset?._id }}" *ngFor="let asset of assetlist">{{
            asset?.title
          }}</option>
        </select>
      </div>
    </div>
    <div class="row" *ngIf="this.contract.saleType !== '1'">
      <div class="col-6 col-md-4">
        <label for="contractDate">Contract Date</label>
        <input
          [(ngModel)]="contract.contractDate"
          type="date"
          name="contractDate"
          id="contractDate"
          class="form-control"
          placeholder=""
        />
      </div>

      <div class="col-6 col-md-4">
        <label for="startDate">Contract Start Date</label>
        <input
          [(ngModel)]="contract.startDate"
          type="date"
          name="startdate"
          id="startDate"
          class="form-control"
          placeholder=""
          (change)="getExpiry()"
        />
      </div>

      <div class="col-6 col-md-4">
        <label for="duration">Contract Duration</label>
            <select
              [(ngModel)]="contract.duration"
              type="text"
              name="asset"
              id="asset"
              class="form-control"
              placeholder=""
              (change)="getExpiry()"
            >
            <option value="12">1 Year</option>
            <option value="6">6 Months</option>
            <option value="1">Month</option>
            <option value="weekly">Week</option>
            <option value="daily">Day</option>
            </select>
      </div>

      <div class="col-6 col-md-4">
        <label for="expiry">Expiry Date</label>
        <input
          [(ngModel)]="contract.expiryDate"
          type="date"
          name="expiry"
          id="expiry"
          class="form-control"
          placeholder=""
        />
      </div>

      <div class="col-6 col-md-4" *ngIf="this.editMode === true">
        <label for="cancelation">Cancelation Date</label>
        <input
          [(ngModel)]="contract.cancelation"
          type="date"
          name="cancelation"
          id="cancelation"
          class="form-control"
          placeholder=""
        />
      </div>

      <div class="col-6 col-md-4">
        <label for="quoted">Price Quoted</label>
        <input
          [(ngModel)]="contract.priceQuoted"
          type="text"
          name="qouted"
          id="qouted"
          class="form-control"
          placeholder=""
        />
      </div>

      <div class="col-6 col-md-4">
        <label for="increment">Increment %</label>
        <input
          [(ngModel)]="contract.increment"
          type="text"
          name="increament"
          id="increment"
          class="form-control"
          placeholder=""
        />
      </div>

      <div class="col-6 col-md-4">
        <label for="incrementSchedule">Increment Schedule</label>
        <select
          [(ngModel)]="contract.incrementSchedule"
          type="text"
          name="incrementSchedule"
          id="incrementSchedule"
          class="form-control"
          placeholder="Increment Schedule"
        >
          <option value="1">Annual</option>
          <option value="2">6 Months</option>
          <option value="3">Monthly</option>
        </select>
      </div>

      <div class="col-6 col-md-4">
        <label for="mathod">Payment Schedule</label>
        <select
          [(ngModel)]="contract.paymentMathod"
          type="text"
          name="mathod"
          id="mathod"
          class="form-control"
          placeholder="Payment Schedule"
        >
        <option value="annual" *ngIf="contract.duration > 6">Annual</option>
        <option value="bi-annual" *ngIf="contract.duration > 1">6 Months</option>
        <option value="monthly">Monthly</option>
        <option value="weekly">Weekly</option>
        <option value="daily">Daily</option>
        </select>
      </div>
      <div class="col-6 col-md-4">
        <label for="downPayment">Down Payment</label>
        <input
          [(ngModel)]="contract.downPayment"
          type="text"
          name="downPayment"
          id="downPayment"
          class="form-control"
          placeholder=""
        />
      </div>

      <div class="col-6 col-md-4">
        <label for="avdancePayment">Advance Payment</label>
        <input
          [(ngModel)]="contract.avdancePayment"
          type="text"
          name="advancePayment"
          id="advancePayment"
          class="form-control"
          placeholder=""
        />
      </div>

      <div class="col-6 col-md-4">
        <label for="status">Contract Status</label>
        <select
          [(ngModel)]="contract.status"
          type="text"
          name="status"
          id="status"
          class="form-control"
          placeholder=""
        >
          <option value="Open">Open</option>
          <option value="Canceled">Canceled</option>
          <option value="Expired">Expired</option>
        </select>
      </div>



      <div class="col-6 col-md-4">
        <label for="quoted">Total Payable</label>
        <input
          [(ngModel)]="contract.totalPayable"
          type="text"
          name="qouted"
          id="qouted"
          class="form-control"
          placeholder=""
          (change)="getTotalPay()"
        />
      </div>
      <div class="col-6 col-md-4">
        <label for="quoted">Installment / Rent</label>
        <input
          [(ngModel)]="contract.installment"
          type="text"
          name="qouted"
          id="qouted"
          class="form-control"
          placeholder="Installment / Rent"
        />
      </div>
      <div class="col-6 col-md-4">
        <label for="balance">Balance</label>
        <input
          [(ngModel)]="contract.balance"
          type="text"
          name="balance"
          id="balance"
          class="form-control"
          value= "this.balance"
        />
      </div>
    </div>
    <div class="row float-right">
      <button
        type="submit"
        (click)="addContract(contract)"
        class="btn btn-success"
      >
        Save
      </button>
      <button type="submit" (click)="openCustomer()" class="btn btn-warning">
        Create Customer
      </button>

      <button type="submit" (click)="openAsset()" class="btn btn-warning">
        Create Asset
      </button>
      <button
        type="submit"
        [routerLink]="['/contract/list']"
        routerLinkActive="router-link-active"
        class="btn btn-danger"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
