<form>
    <div class="container">
      <!-- <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button> -->
      <div class="row">
        <div class="col-6 col-md-4">
          <label for="name">Name</label>
          <input [(ngModel)]="user.name" type="text" name="name" id="name" />
        </div>
        <div class="col-6 col-md-4">
          <label for="mobile">Mobile</label>
          <input [(ngModel)]="user.mobile" type="text" name="mobile" id="mobile" />
        </div>
        <div class="col-6 col-md-4">
          <label for="userName">User Name</label>
          <input [(ngModel)]="user.userName" type="text" name="userName" id="userName" />
        </div>
        <div class="col-6 col-md-4">
          <label for="password">Password</label>
          <input [(ngModel)]="user.password" type="password" name="password" id="password" />
        </div>
           <button type="button" class="btn btn-outline-success" (click)="save(user)">Save
      </button>
        </div>
        </div>
        </form>
