/* .sidebar{
  width: 17%;
  background:white;
  height: 100vh;
  }
  /* .main{
    background-color: #CCCCFF;

  } */
  /* .setbar{
    height: 152px;

  }
  ul{
  list-style:none;
  }
  span + span {
  margin-left: 10px;
  margin-bottom: 10px; */

  /* }
  /* div + div {
    margin-top: 10px;
  } */

  /* .aligment{
    height: 45px;
      margin-left: 10px;
  }
  .round{
    width: 60px;
    border-radius: 50%;
  } */

  /* .active {
    background-color: #4CAF50;
  } */
