<div class="container">
    <h3>Customer Ledger</h3>
    <hr>
    <br>
    <div class="heading">
    <label>Total Recieved = &nbsp;</label><strong>{{grandTotal}}</strong>
  </div>
    <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Sr</th>
              <th scope="col">Date</th>
              <th scope="col">Mathod</th>
              <th scope="col">Amount</th>
          </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reciept of recieptlist, index as i">
      <td>{{i+1}}</td>
      <td>{{reciept?.recieptDate}}</td>
      <td>{{reciept?.paymentMathod}}</td>
      <td>{{reciept?.recivedAmount}}</td>
    </tr>
  </tbody>
  </table>
  </div>   <!-- <th scope="row">{{ i + 1 }}</th> -->
