<div class="container">
  <div class="row float-right newbox">
    <button class="btn btn-primary btn-circle" (click)="open()">
      <i class="fa fa-plus-circle fa-3x"></i></button>
  </div>
  <h1>Contract List</h1>
  <div class="row">
    <div class="card shadow p-3 mb-5 bg-white rounded"
      *ngFor="let contract of contractlist| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="card-header">
        <strong>{{contract?.title}}</strong>
        <div class="row float-right">{{contract?.contractDate}}</div>
      </div>
      <div class="card-body">
        <span>{{contract?.status}}</span><br>
        <span>{{contract?.customer}}</span><br>
        <span>{{contract?.asset}}</span><br>
        <span>{{contract?.duration}}</span><br>
        <span>{{contract?.increment}}</span><br>
        <span>{{contract?.contractDate}}</span><br>
        <span>{{contract?.expiryDate}}</span><br>
        <span>{{contract?.priceQuoted}}</span><br>
      </div>
      <hr>
      <div class="float-right">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Actions
        </button>
      </div>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="float-right">
          <button class="btn btn-sm btn-outline-success" (click)="fetchContractById(contract._id)"><i
              class="far fa-edit"></i></button>&nbsp;
          <button class="btn btn-sm btn-outline-danger" (click)="deleteContract(contract._id)"><i
              class="far fa-trash-alt"></i></button>&nbsp;
          <button class="btn btn-sm btn-outline-primary" (click)="addReciept(contract._id)"><i
              class="fas fa-dollar-sign"></i></button>&nbsp;
          <button class="btn btn-sm btn-outline-success" (click)="listReciept(contract._id)"><i
              class="far fa-list-alt"></i></button>&nbsp;
          <button class="btn btn-sm btn-outline-primary" (click)="viewContract(contract._id)"><i class="fas fa-eye">
            </i></button>&nbsp;
        </div>
      </div>
    </div>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="contractlist.length" [maxSize]="5">
    </ngb-pagination>
  </div>