
.navbar {
  background-color: rgb(0, 157, 248);
  color: white;
  text-align: left;
  vertical-align: middle;
  height: 60px;
  width: 100%;
}

.btn-search {
  background-color: rgb(0, 157, 248);
  outline: 0;
  border-width: 0 0 0px;
  color: white;
}

ul {
  /* list-style-type: none; */
  text-align: left;
}

.row {
  width: 100%;
}
