<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous"
/>

<nav class="navbar navbar-expand-lg navbar-dark">
   <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
          >AMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/asset/list']"routerLinkActive="router-link-active">Asset</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/customer/list']"routerLinkActive="router-link-active">Customer</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contract/list']"routerLinkActive="router-link-active">Contract</a>
        </li>
    </ul>
  </div>
      <div ngbDropdown [placement]="['bottom-right']" class="float-right" >
        <button class="btn-lg btn-search" id="dropdownBasic1" ngbDropdownToggle></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ul>
          <li ngbDropdownItem (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</li>
        </ul>
        </div>
    </div>
</nav>
