.nav-left-sidebar {
  background-color: #ffffff;
  color: #3d405c;
  padding: 10px;
}

.nav-link [data-toggle="collapse"][aria-expanded="false"]:after {
  transform: rotate(-90deg);
}

.nav-link {
  background-color: inherit;
  outline: 0;
  border-width: 0 0 0px;
  color: rgb(150, 150, 150);
  cursor: pointer;
}

.nav-link:focus .nav-link:hover .nav-link:hover {
  background-color: #e2e2eb;
  color: #3d405c;
  outline: 0;
  border-width: 0 0 0px;
}

.sidebar-primary .nav-left-sidebar .nav-link i {
  color: #8991d4;
}

.sidebar-primary .nav-left-sidebar .navbar-nav .nav-link {
  color: #8991d4;
}

span {
  margin-left: 10px;
}

