<div class="nav-left-sidebar sidebar-dark">
  <div class="menu-list">
    <nav class="navbar navbar-expand-sm navbar-light">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-item ">
            <a
                class="nav-link"
                [routerLink]="['/dashboard']"
                routerLinkActive="router-link-active"
                ><i class="fa fa-home"></i>&nbsp; Dashboard
               </a>
          </li>
          <li class="nav-item">
            <a
                class="nav-link"
                [routerLink]="['/asset/list']"
                routerLinkActive="router-link-active"
                ><i class="fa fa-rocket"></i>&nbsp; Assest</a
              >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/customer/list']"
              routerLinkActive="router-link-active"
              ><i class="fa fa-users"></i>&nbsp; Customer</a
            >
          </li>
          <li class="nav-item ">
            <a
              class="nav-link"
              [routerLink]="['//contract/list']"
              routerLinkActive="router-link-active"
              ><i class="fab fa-readme"></i>&nbsp; Contract</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"
            [routerLink]="['//reports/main']"
            routerLinkActive="router-link-active"
              ><i class="fa fa-table"></i>&nbsp; Reports</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
