<div class="nav-left-sidebar">
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="menu-list">
      <button
        class="nav-link"
        type="button"
        [routerLink]="['/dashboard']"
        routerLinkActive="router-link-active"
      >
        <i class="fa fa-fw fa-user-circle"></i>Dashboard
      </button>
      <button
        class="nav-link"
        type="button"
        [routerLink]="['/asset/list']"
        routerLinkActive="router-link-active"
      >
        <i class="fa fa-fw fa-rocket"></i>Asset List
      </button>
      <button
        class="nav-link"
        type="button"
        [routerLink]="['/customer/list']"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-fw fa-chart-pie"></i>Customer List
      </button>
      <button
        class="nav-link"
        type="button"
        [routerLink]="['/contract/list']"
        routerLinkActive="router-link-active"
      >
        <i class="fab fa-fw fa-wpforms"></i>Contract List
      </button>
      <button
        class="nav-link"
        type="button"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-fw fa-table"></i>Reports
      </button>

    </div>
  </nav>
</div>
