
.container {
  background-color: rgb(240, 240, 240);
}

.btn-circle {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:rgb(255, 255, 255);
  background-color: #0004ff;
}

.card {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px 10px;
  width: 100%;
}
.card-header{
  background-color: rgb(0, 157, 248);
  color: white;
  text-align: left;
  vertical-align: middle;
  height: 60px;
}
.card-footer{
  background-color: rgb(255, 255, 255);
  height: 60px;
}

.btn-search {
  background-color: white;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(176, 176, 179)
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 30%;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search {
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(176, 176, 179);
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:rgb(255, 255, 255);
  background-color: #000000;
  }

  .searchbar{
    height: 41px;
    background-color: #000000;
    border-radius: 30px;
    float: right;
    }

    th {
      text-align: left;
      width: 200px;
      vertical-align: middle;
    }

    td {
      text-align: left;
      color: rgb(150, 150, 150);
      width: 200px;
      border-bottom: 1px solid rgb(168, 168, 168);
    }

