<div class="container">
  <h1>Asset List</h1>
  <table class="table table-hover" borders ="ronded">
    <thead> 
      <div> 
        <button class="btn btn-md btn-primary" (click)="open()"><i class="fas fa-plus"></i>&nbsp; New</button>
      </div>
        <tr>
    <th>Ref</th>
    <th>Title</th>
    <th>Type</th>
    <th>Customer</th>
    <th>Mobile</th>
    <th>Guarantor</th>
    <th>Mobile</th>
    <th>Owner</th>
    <th>Mobile</th>
    <th>Status</th>
    <th>Due Date</th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    </tbody>
  </table>
  <tbody>
      <tr *ngFor="let asset of assetlist">
        <td>{{asset?.ref}}</td>
        <td>{{asset?.title}}</td>
        <td>{{asset?.assetType}}</td>
        <td>{{asset?.customer?.name}}</td>
        <td>{{asset?.customer?.mobile1}} / {{asset?.customer?.mobile2}}</td>
        <td>{{asset?.customer?.guarantor?.name}}</td>
        <td>{{asset?.customer?.guarantor?.mobile}}</td>
        <td>{{asset?.owner?.name}}</td>
        <td>{{asset?.owner?.mobile1}} / {{asset?.owner?.mobile2}}</td>
        <td>{{asset?.contract?.status}}</td>
        <td>{{asset?.contract?.reaccurance}}</td>
    <td>
        <button class="btn btn-md btn-outline-success" (click)="fetchAssetById(asset._id)"><i class="far fa-edit">&nbsp; Edit</i></button>
        <button class="btn btn-md btn-outline-danger" (click)="deleteAsset(asset._id)"><i class="far fa-trash-alt">&nbsp; Delete</i></button>
        <button class="btn btn-md btn-outline-primary" (click)="addReciept(asset._id)"><i class="fas fa-dollar-sign">&nbsp; Reciept</i></button>
        <button class="btn btn-md btn-outline-success" (click)="listReciept(asset._id)"><i class="far fa-edit">&nbsp; Ledger</i></button>
      </td>
      </tr>
    </tbody>
  </div>