.create-form {
  width: 100%;
  border: 1px solid black;
}

.container {
  background-color: rgb(240, 240, 240);
}

/* .bla {
  background-color: red;
} */

.newbox {
  padding: 20px 20px;
}
.btn-circle {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:rgb(255, 255, 255);
  background-color: #0004ff;
}

.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 10px 10px;
}
.card-header{
  background-color: rgb(255, 255, 255);
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 30%;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:rgb(255, 255, 255);
  background-color: #000000;
  }

  .searchbar{
    height: 41px;
    background-color: #000000;
    border-radius: 30px;
    float: right;
    }

    h1{
      width: 265px;
    }
