<div class="row">
    <div class=" col card shadow rounded">
  <div class="card-header">
    Report 1
  </div>
  <div class="card-body">
    <h6>Last Month Total</h6>
    <h1>100,000,000</h1>
  </div>
  <div class="card-footer float-right">
    <button class="btn btn-sm btn-outline-primary">Details...</button>
  </div>
      </div>
    <div class=" col card shadow rounded">
  <div class="card-header">
    Report 2
  </div>
  <div class="card-body">
    <h6>This Month Total</h6>
    <h1>200,000,000</h1>
  </div>
  <div class="card-footer float-right">
    <button class="btn btn-sm btn-outline-primary">Details...</button>
  </div>
      </div>
    <div class=" col card shadow rounded">
  <div class="card-header">
    Report 3
  </div>
  <div class="card-body">
    <h6>Next Month Total</h6>
    <h1>400,000,000</h1>
  </div>
  <div class="card-footer float-right">
    <button class="btn btn-sm btn-outline-primary">Details...</button>
  </div>
      </div>
</div>
