<!-- <div class="main">
  <div class="sidebar">
    <div class="setbar" style="background-image: url('./../../../assets/lo.jpg')">
  <img src="./../../../assets/main.png" class="round">
    </div>
    <div class="btndev">
  <div class="aligment" style="margin-top:10px">
        <span><i class="fa fa-fw fa-home"></i></span><span>Dashbord</span>
  </div>
    <div class="aligment">
                <span><i class="fa fa-fw fa-home"></i></span><span>Customer</span>


  </div>
  <div class="aligment">

             <a class="active" href="/asset/list"> <span><i class="fa fa-fw fa-home"></i></span><span>Assest</span></a>

  </div>
  <div class="aligment">
              <span><i class="fa fa-fw fa-home"></i></span><span>Reports</span>

  </div>
  </div>
  </div> -->
<h2>Hello Naveed</h2>
