   h2{
    margin-top: 11px;
    text-align: center;
   }
.heading{
  border: 1px solid red;
}
h5{
  background-color: #FAFAFA;
}
.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 10px 10px;
}
