
  <div class="container">
    <ngb-tabset #t="ngbTabset">
  <ngb-tab title="Asset" id="main">
    <ng-template ngbTabContent>

  <div class="row">
      <div class="col-6 col-md-4">
      <label for="ref">Referance</label>
      {{asset.ref}}
      </div>

      <div class="col-6 col-md-4">
          <label for="title">Title</label>
          {{asset.title}}
          </div>

          <div class="col-6 col-md-4">
              <label for="assetType">Asset Type</label>
              {{asset.assetType}}
              </div>
        </div>
        <!-- <div class="row float-right">
            <button class="btn btn-success" (click)="t.select(this.asset.assetType)">Next</button>
            <button class="btn btn-primary" (click)="t.select('main')">Back</button>
          </div> -->
<!-- </ng-template>
</ngb-tab>

<ngb-tab id="vehicle">
  <ng-template ngbTabContent> -->

        <div class="row">
            <div class="col-6 col-md-4">
              <label for="reg">Registration</label>
              {{asset.assetDetail.vehicle.reg}}
            </div>

<div class="col-6 col-md-4">
  <label for="make">Make</label>
  {{asset.assetDetail.vehicle.make}}
  </div>

<div class="col-6 col-md-4">
<label for="model">Model</label>
{{asset.assetDetail.vehicle.model}}
</div>

<div class="col-6 col-md-4">
<label for="year">Year</label>
{{asset.assetDetail.vehicle.year}}
</div>

<div class="col-6 col-md-4">
<label for="colour">Colour</label>
{{asset.assetDetail.vehicle.colour}}
</div>

<div class="col-6 col-md-4">
<label for="status">Status</label>
{{asset.assetDetail.vehicle.status}}
</div>
</div>
<!-- <div class="row float-right">
    <button class="btn btn-outline-primary" (click)="t.select('Owner')">Next</button>
    <button class="btn btn-primary" (click)="t.select('main')">Back</button>
  </div>
</ng-template>
</ngb-tab>

<ngb-tab id="house">
  <ng-template ngbTabContent> -->

<div class="row">
  <div class="col-6 col-md-4">
  <label for="floor">Floor</label>
  {{asset.assetDetail.house.address.floor}}
  </div>
</div>
<!--
  <div class="col-6 col-md-4">
  <label for="number">House Number</label>
  {{asset.assetDetail.house.address.number" type="text" name="number" id="number">
  </div>

  <div class="col-6 col-md-4">
  <label for="street">Street</label>
  {{asset.assetDetail.house.address.street" type="text" name="street" id="street">
  </div>

  <div class="col-6 col-md-4">
  <label for="sector">Sector</label>
  {{asset.assetDetail.house.address.sector" type="text" name="sector" id="sector">
  </div>

  <div class="col-6 col-md-4">
  <label for="city">City</label>
  {{asset.assetDetail.house.address.city" type="text" name="city" id="city">
  </div>

  <div class="col-6 col-md-4">
  <label for="province">Province</label>
  {{asset.assetDetail.house.address.province" type="text" name="province" id="province">
  </div>

  <div class="col-6 col-md-4">
  <label for="zipcode">Zip Code</label>
  {{asset.assetDetail.house.address.zipcode" type="text" name="zipcode" id="zipcode">
  </div>

  <div class="col-6 col-md-4">
  <label for="area">Size</label>
  {{asset.assetDetail.house.area" type="text" name="area" id="area">
  </div>

  <div class="col-6 col-md-4">
  <label for="status">Status</label>
  <select [(ngModel)]="asset.assetDetail.house.status" type="text" name="status" id="status">
  <option value="available">Available</option>
  <option value="rented">Rented</option>
  <option value="sold">Sold</option>
  </select>
  </div>
</div>
<div class="row float-right">
        <button class="btn btn-outline-primary" (click)="t.select('Owner')">Next</button>
    <button class="btn btn-primary" (click)="t.select('main')">Back</button>
      </div>
</ng-template>
</ngb-tab>

<ngb-tab id="item">
  <ng-template ngbTabContent>

<div class="row">

<div class="col-6 col-md-4">
<label for="make">Make</label>
{{asset.assetDetail.item.make" type="text" name="make" id="make">
</div>
<div class="col-6 col-md-4">
<label for="model">Model</label>
{{asset.assetDetail.item.model" type="text" name="model" id="model">
</div>
<div class="col-6 col-md-4">
<label for="year">Year</label>
{{asset.assetDetail.item.year" type="text" name="year" id="year">
</div>
<div class="col-6 col-md-4">
<label for="discription">Discription</label>
{{asset.assetDetail.item.discription" type="text" name="discription" id="discription">
</div>
<div class="col-6 col-md-4">
<label for="actualPrice">Actual Price</label>
{{asset.assetDetail.item.actualPrice" type="text" name="actualPrice" id="actualPrice">
</div>
</div>
<div class="row float-right">
        <button class="btn btn-outline-primary" (click)="t.select('Owner')">Next</button>
        <button class="btn btn-primary" (click)="t.select('main')">Back</button>
      </div>
</ng-template>
</ngb-tab>

<ngb-tab id="Owner">
  <ng-template ngbTabContent>

            <h3>Owner</h3>
<div class="row">
<div class="col-6 col-md-4">
<label for="name">Name</label>
{{asset.owner.name" type="text" name="name" id="name">
</div>

<div class="col-6 col-md-4">
<label for="fatherName">Father Name</label>
{{asset.owner.fatherName" type="text" name="fatherName" id="fatherName">
</div>

<div class="col-6 col-md-4">
<label for="cnic">CNIC</label>
{{asset.owner.cnic" type="text" name="cnic" id="cnic">
</div>

<div class="col-6 col-md-4">
<label for="mobile1">Mobile 1</label>
{{asset.owner.mobile1" type="text" name="mobile1" id="mobile1">
</div>

<div class="col-6 col-md-4">
<label for="mobile2">Mobile2</label>
{{asset.owner.mobile2" type="text" name="mobile2" id="mobile2">
</div>
</div>
<h6>Address</h6>
<div class="row">
<div class="col-6 col-md-4">
<label for="floor">Floor</label>
{{asset.owner.address.floor" type="text" name="floor" id="floor">
</div>  <div class="col-6 col-md-4">
<label for="number">House Number</label>
{{asset.owner.address.number" type="text" name="number" id="number">
</div>  <div class="col-6 col-md-4">
<label for="street">Street</label>
{{asset.owner.address.street" type="text" name="street" id="street">
</div>  <div class="col-6 col-md-4">
<label for="sector">Sector</label>
{{asset.owner.address.sector" type="text" name="sector" id="sector">
</div>  <div class="col-6 col-md-4">
<label for="city">City</label>
{{asset.owner.address.city" type="text" name="city" id="city">
</div>  <div class="col-6 col-md-4">
<label for="province">Province</label>
{{asset.owner.address.province" type="text" name="province" id="province">
</div>  <div class="col-6 col-md-4">
<label for="zipcode">Zip Code</label>
{{asset.owner.address.zipcode" type="text" name="zipcode" id="zipcode">
</div>
</div>
<div class="row float-right">
        <button class="btn btn-outline-primary" (click)="t.select('Customer')">Next</button>
        <button class="btn btn-primary" (click)="t.select('main')">Back</button>
      </div>
</ng-template>
</ngb-tab>

<ngb-tab id="Customer">
    <ng-template ngbTabContent>

        <h3>Customer</h3>
<div class="row">
<div class="col-6 col-md-4">
<label for="name">Customer Name</label>
{{asset.customer.name" type="text" name="name" id="name">
</div>

<div class="col-6 col-md-4">
<label for="fatherName">Father Name</label>
{{asset.customer.fatherName" type="text" name="fatherName" id="fatherName">
</div>

<div class="col-6 col-md-4">
<label for="cnic">CNIC</label>
{{asset.customer.cnic" type="text" name="cnic" id="cnic">
</div>

<div class="col-6 col-md-4">
<label for="mobile1">Mobile 1</label>
{{asset.customer.mobile1" type="text" name="mobile1" id="mobile1">
</div>

<div class="col-6 col-md-4">
<label for="mobile2">Mobile2</label>
{{asset.customer.mobile2" type="text" name="mobile2" id="mobile2">
</div>
</div>

<div class="row">
<div class="col-6 col-md-4">
<label>Address</label></div>  <div class="col-6 col-md-4">
<label for="floor">Floor</label>
{{asset.customer.address.floor" type="text" name="floor" id="floor">
</div>  <div class="col-6 col-md-4">
<label for="number">House Number</label>
{{asset.customer.address.number" type="text" name="number" id="number">
</div>  <div class="col-6 col-md-4">
<label for="street">Street</label>
{{asset.customer.address.street" type="text" name="street" id="street">
</div>  <div class="col-6 col-md-4">
<label for="sector">Sector</label>
{{asset.customer.address.sector" type="text" name="sector" id="sector">
</div>  <div class="col-6 col-md-4">
<label for="city">City</label>
{{asset.customer.address.city" type="text" name="city" id="city">
</div>  <div class="col-6 col-md-4">
<label for="province">Province</label>
{{asset.customer.address.province" type="text" name="province" id="province">
</div>  <div class="col-6 col-md-4">
<label for="zipcode">Zip Code</label>
{{asset.customer.address.zipcode" type="text" name="zipcode" id="zipcode">
</div>
</div>
<div class="row float-right">
        <button class="btn btn-outline-primary" (click)="t.select('Guarantor')">Next</button>
        <button class="btn btn-primary" (click)="t.select('Owner')">Back</button>
      </div>
</ng-template>
</ngb-tab>

<ngb-tab id="Guarantor">
    <ng-template ngbTabContent>

<h3>Guarantor</h3>
<div class="row">
<div class="col-6 col-md-4">
<label for="name">Guarantor Name</label>
{{asset.customer.guarantor.name" type="text" name="name" id="name">
</div>

<div class="col-6 col-md-4">
<label for="fatherName">Father Name</label>
{{asset.customer.guarantor.father" type="text" name="fatherName" id="fatherName">
</div>

<div class="col-6 col-md-4">
<label for="cnic">CNIC</label>
{{asset.customer.guarantor.cnic" type="text" name="cnic" id="cnic">
</div>

<div class="col-6 col-md-4">
<label for="mobile1">Mobile 1</label>
{{asset.customer.guarantor.mobile" type="text" name="mobile1" id="mobile1">
</div>

<div class="col-6 col-md-4">
<label>Address</label></div>  <div class="col-6 col-md-4">
<label for="floor">Floor</label>
{{asset.customer.guarantor.address.floor" type="text" name="floor" id="floor">
</div>  <div class="col-6 col-md-4">
<label for="number">House Number</label>
{{asset.customer.guarantor.address.number" type="text" name="number" id="number">
</div>  <div class="col-6 col-md-4">
<label for="street">Street</label>
{{asset.customer.guarantor.address.street" type="text" name="street" id="street">
</div>  <div class="col-6 col-md-4">
<label for="sector">Sector</label>
{{asset.customer.guarantor.address.sector" type="text" name="sector" id="sector">
</div>  <div class="col-6 col-md-4">
<label for="city">City</label>
{{asset.customer.guarantor.address.city" type="text" name="city" id="city">
</div>  <div class="col-6 col-md-4">
<label for="province">Province</label>
{{asset.customer.guarantor.address.province" type="text" name="province" id="province">
</div>  <div class="col-6 col-md-4">
<label for="zipcode">Zip Code</label>
{{asset.customer.guarantor.address.zipcode" type="text" name="zipcode" id="zipcode">
</div>
</div>
<div class="row float-right">
        <button class="btn btn-outline-primary" (click)="t.select('Contract')">Next</button>
        <button class="btn btn-primary" (click)="t.select('Customer')">Back</button>
      </div>
</ng-template>
</ngb-tab>

<ngb-tab id="Contract">
    <ng-template ngbTabContent>

<h3>Contract</h3>
<div class="row">
<div class="col-6 col-md-4">
<label for="contractDate">Contract Date</label>
{{asset.contract.contractDate" type="datetime-local" name="contractDate" id="contractDate">
</div>

<div class="col-6 col-md-4">
  <label for="startDate">Contract Start Date</label>
  {{asset.contract.startDate" type="datetime-local" name="startDate" id="startDate">
  </div>

<div class="col-6 col-md-4">
<label for="duration">Contract Duration</label>
{{asset.contract.duration" type="text" name="duration" id="duration">
</div>

<div class="col-6 col-md-4">
<label for="increment">Increment</label>
{{asset.contract.increment" type="text" name="increment" id="increment">
</div>

<div class="col-6 col-md-4">
<label for="incrementSchedule">Increment Schedule</label>
<select [(ngModel)]="asset.contract.incrementSchedule" type="text" name="incrementSchedule" id="incrementSchedule">
<option value="daily">Daily</option>
<option value="monthly">Monthly</option>
<option value="annual">Annual</option>
</select>
</div>

<div class="col-6 col-md-4">
<label for="expiry">Expiry Date</label>
{{asset.contract.expiryDate" type="date" name="expiry" id="expiry">
</div>

<div class="col-6 col-md-4">
<label for="cancelation">Cancelation Date</label>
{{asset.contract.cancelation" type="date" name="cancelation" id="cancelation">
</div>

<div class="col-6 col-md-4">
<label for="mathod">Payment Mathod</label>
<select [(ngModel)]="asset.contract.paymentMathod" type="text" name="mathod" id="mathod">
<option value="daily">Daily</option>
<option value="monthly">Monthly</option>
<option value="annual">Annual</option>
</select>
</div>

<div class="col-6 col-md-4">
<label for="quoted">Price Quoted</label>
{{asset.contract.priceQuoted" type="text" name="qouted" id="qouted">
</div>

<div class="col-6 col-md-4">
<label for="quoted">Total Payable</label>
{{asset.contract.totalPayable" type="text" name="qouted" id="qouted">
</div>

<div class="col-6 col-md-4">
<label for="downPayment">Down Payment</label>
{{asset.contract.downPayment" type="text" name="downPayment" id="downPayment">
</div>

<div class="col-6 col-md-4">
<label for="avdancePayment">Advance Payment</label>
{{asset.contract.avdancePayment" type="text" name="advancePayment" id="advancePayment">
</div>

<div class="col-6 col-md-4">
  <label for="status">Contract Status</label>
  <select [(ngModel)]="asset.contract.status" type="text" name="status" id="status">
  <option value="Open">Open</option>
  <option value="Canceled">Canceled</option>
  <option value="Expired">Expired</option>
  </select>
</div>

</div>
<div class="row float-right">
        <button class="btn btn-primary" (click)="t.select('Guarantor')">Back</button>
        <button type="submit" (click)="addAsset(asset)" class="btn btn-outline-success">Save</button>
      </div> -->
</ng-template>
</ngb-tab>

</ngb-tabset>
</div>

